body {
    font-family: sans-serif;
	background-color: #000;
}
#cam {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 3px #050 solid;
    width: 640px;
    height: 360px;
}
#batteryProgress {
	width: 640px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top:10px;
}
#stats {
    position: absolute;
    left: 50%;
	width:300px;
	transform:translateX(-50%);
    font-size: 12px;
}
#stats div {
    font-weight:bold;
}
#stats span {
	font-weight:normal;
}
.buttons {
    text-align: center;
}
.dropdown-menu {
    text-align: left;
}
